from fabric.state import env

server_ip = '192.168.0.203'

env.hosts = [server_ip]
env.user = 'devartis'
env.password = 'devartis2011'

admin_group = 'admin'
web_server_group_name = 'www-data'

app_name = 'travtar'

home_dir = '/home/devartis/'

django_project_name = app_name + '_project'

site_dir = home_dir + app_name + '_site/'
project_dir = site_dir + django_project_name + '/'
static_dir = site_dir + 'static/'
backups_dir = home_dir + 'backups/'
logs_dir = home_dir + 'logs/'

virtual_env_name = app_name + '_env'
virtual_envs_dir = home_dir + 'envs/'
virtual_env_dir = virtual_envs_dir + virtual_env_name

svn_base_dir = "http://svn.devartis.com/travtar/"
svn_tag_dir = "http://svn.devartis.com/travtar/tags/"
svn_user = "deployer"
svn_user_pass = "deployer"

mysql_user = "root"
mysql_pass = ""
mysql_db_name = app_name + "_db"

apache_port = '8080'
apache_server_name = 'travtar.com'

site_wsgi_path = project_dir + 'site.wsgi'

nginx_port = '36300'
nginx_proxy_pass_url = 'http://127.0.0.1'
nginx_proxy_pass_port = apache_port